
/* Scrollbar width */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width */
  height: 12px; /* Adjust the height */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #681f0076; /* Color of the scrollbar handle */
  border-radius: 6px; /* Rounded corners for the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
}
.main-containers {
  background-color: #682000;
  min-height: 100vh;

  width: 100%;
  /* height: 100vh; */
  color: white;
  overflow-x: hidden;
}

.line-bar {
  display: flex;
  width: 100%;
  /* justify-content: space-around; */
  /* margin-top: 15px; */
}

.mobi-text {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.mobi-text img {
  max-width: 150px;
  margin-top: 15px;
  height: auto;
}
.containerss {
  width: 80%;
  margin-left: 50px;
}

.page-content {
  width: 100%;
}

.page-names .page-name {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
}

.page-names .page-name span {
  margin-right: 5px;
}

.container {
  max-width: 100%;
  justify-content: space-between;
  /* margin: 20px auto; */
  /* padding: 20px; */
  /* background-color: #f0f0f0; */
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
}

.content {
  display: none; /* Hide all content divs by default */
  /* height: 100% !important; */
}

.footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b05d36;
}
.footer #page-name {
  font-size: xx-large;
  margin-top: 8px;
}

.footer button {
  /* padding: 10px 20px; */
  background-color: #ce936c;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer button:hover {
  background-color: #682000;
}

.page-names {
  display: flex;
  text-align: center;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

.page-name {
  font-size: 20.81px;
  /* font-weight: bold; */
  margin: 0 10px;
  /* color: black; All page names are initially black */
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
  top: -12px;
  display: flex;
  flex-direction: column;
}

.page-name.current {
  color: red; /* Current page name is red */
}
.content {
  width: 50%;
  text-align: center;
  height: 100%;
  /* background-color: #218838; */
  padding: 20px 0;
}

strong {
  display: flex;
  position: fixed;
  left: 45%;
  top: 23.5%;
  /* text-align: center; */
  width: fit-content;
}

hr {
  width: 100%;
  position: relative;
  top: 20px;
}

.large-period {
  font-size: 30px;
}

#vg-design svg {
  height: 500px;
}

.card-container {
  display: flex;
  gap: 0px 20px;
  /* margin-bottom: 40px; */
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}
.card-containers {
  display: flex;
  height: 100%;
  /* position: relative; */
  /* top: -100px; */
  gap: 0px 40px;
  justify-content: center;
  /* margin-top: 20px; */
  flex-wrap: wrap;
}

.card {
  width: 230px;
  height: 400px;
  box-shadow: 0 10px 18px rgba(176, 93, 54, 0.9);
  border-radius: 31px;
  background-color: #682000;
  cursor: pointer;
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.card.selected {
  border-color: #ffcc00;
}

.card img {
  height: 350px;
  width: 180px;
}

footer {
  width: 100%;
  /* margin-top: 60PX; */
  background-color: #b05d36;
  height: fit-content;
  padding: 4px;
  position: relative;
  /* bottom: 0; */
}
footer p {
  font-size: 1.2rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0rem;
}
.main-div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 40px 0px;
}
.forms-input {
  width: 70%;
  height: 100%;
}
.containers-button {
  display: flex;
  gap: 20px; /* Space between boxes */
  /* justify-content:first baseline;  */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  /* margin-top: 28px; */
}

.containers-button button:hover{
  background-color: red;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.box {
  /* margin-right: 25px; */
  width: 180px; /* Adjust the width of each box */
  height: 119px; /* Adjust the height of each box */
  border: 1px solid #ccc;
  /* padding: 10px; */
  display: flex;
  
  flex-direction: column;
  background-color: #ce936c;
  justify-content: space-around; /* Distribute input groups evenly */
  align-items: center;
  /* Center align input groups horizontally */
}
.box button {
  /* padding: 8px 16px; Adjust button padding */
  font-size: 11.22px; /* Adjust button font size */
  width: 100%;
  height: 40px;
  
  font-weight: 800px;
  color: white;
  background: transparent;
  border: 1px #b05d36;
}

.input-group {
  display: flex;
  align-items: center; /* Align items vertically within input group */
  gap: 10px;
}

label {
  /* margin-left: 12px; */
  font-size: 11.77px; /* Space between label and input */
}

input[type="color"] {
  margin-left: 10px;
  border: none;
  width: 20px; /* Adjust the width of color inputs */
  height: 20px; /* Adjust the height of color inputs */
}

.box-button {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  justify-content: space-around; /* Distribute input groups evenly */
  align-items: center;
  gap: 5px;
}

.box-button button {
  width: 200px;
  height: 36px;
  background-color: #ce936c;
  font-weight: 600;
  font-size: 11.22px;
  color: white;
  text-align: left;
  padding-left: 30px;
  border: none;
}

.img-reset {
  cursor: pointer;
  transition: transform 0.5s ease;
  margin-right: 25px;
}

.img-reset img:hover {
  transform: rotateY(180deg);
}
.row {
  width: 100%;
  height: 100%;
}

/* input  */

.radio-box1 {
  display: none;
  border-radius: 5.99px;
  background-color: #5b2502;
  height: 355px;
  margin-right: 10px;
  /* position: fixed; */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Animate opacity and transform */

  border: 1px solid #fff; /* Adjust the color and width as needed */
  box-shadow: 0 8px 18px rgba(251, 156, 4, 0.685); /* Adjust the shadow as needed */
}
.radio-box1 {
  display: none;
  border-radius: 5.99px;
  background-color: #5b2502;
  height: 355px;
  margin-right: 10px;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Animate opacity and transform */
  border: 1px solid #fff; /* Adjust the color and width as needed */
  box-shadow: 0 8px 18px rgba(251, 156, 4, 0.685); /* Adjust the shadow as needed */
}

.radio-box1, .radio-box2, .radio-box3, .radio-box4, .radio-box5, .radio-box6, .radio-box7 {
  display: none;
  border-radius: 5.99px;
  background-color: #5b2502;
  height: 355px;
  margin-right: 10px;
  
  transition: opacity 0.5s ease, transform 0.5s ease; /* Animate opacity and transform */
  border: 1px solid #fff; /* Adjust the color and width as needed */
  box-shadow: 0 8px 18px rgba(251, 156, 4, 0.685); /* Adjust the shadow as needed */
}

.show {
  display: block;
  animation: boxSlide 0.5s forwards; /* Trigger the slide animation */
}

@keyframes boxSlide {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes boxSlide {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.radio-box1 , .radio-box2, .radio-box3, .radio-box4, .radio-box5, .radio-box6, .radio-box7 p {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: white;
  position: relative;
  top: 8px;
  left: 5px;
}

/* Hide the default radio button */

 .custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-box1 .inputs {
  display: flex;
  justify-content: flex-start;
  align-items: self-start;
  flex-direction: column;
  font-size: 9.02px;
  font-weight: 400;
  color: white;
  padding: 5px;
  margin: 5px;
}
.custom-radio {
  padding: 2px;
}
/* Create a custom radio button */
.checkmark {
  position: relative;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  border: 2px solid white;
}

/* When the radio button is checked, add a background color */
.custom-radio input:checked ~ .checkmark {
  background-color: #ff0000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio .checkmark:after {
  height: 8px;
  border-radius: 50%;
  background: white;
}

.finsh-4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
}


.inputsss .form-container{
  display: block;
  height: 100%;
  overflow-y: scroll;
}

/* about us page   */

.radio-boxs1 {
    display: none;
  /* width: fit-content; */
  border-radius: 5.99px;
  background-color: #5b2502;
  height: 355px;
  margin-right: 10px;
  border: 1px solid #fff; /* Adjust the color and width as needed */
  box-shadow: 0 8px 18px rgba(251, 156, 4, 0.685); /* Adjust the shadow as needed */
}
.radio-boxs1 p {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: white;
  position: relative;
  top: 8px;
  left: 5px;
}

.radio-boxs2 {
    display: none;
  /* width: fit-content; */
  border-radius: 5.99px;
  background-color: #5b2502;
  height: 355px;
  padding: 20px;
  margin-right: 10px;
  border: 1px solid #fff; /* Adjust the color and width as needed */
  box-shadow: 0 8px 18px rgba(251, 156, 4, 0.685); /* Adjust the shadow as needed */
}
.radio-boxs2 p {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: white;
  position: relative;
  top: 8px;
  left: 5px;
}


/* logoos */

.radio-boxs3 {
  display: none;
  /* width: fit-content; */
  border-radius: 5.99px;
  background-color: #5b2502;
  height: 355px;
  margin-right: 10px;
  border: 1px solid #fff; /* Adjust the color and width as needed */
  box-shadow: 0 8px 18px rgba(251, 156, 4, 0.685); /* Adjust the shadow as needed */
  /* padding: 20px; */


  overflow-y: auto;
}

p#heading {
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
  background-color: #b05d36;
  padding: 5px 10px;
  border-radius: 4px;
}

.inputss,
.main-lable-text,
.input-filess {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #5b2502;
  border-radius: 6px;
  margin-bottom: 10px;
}

.inputss {
  flex-grow: 2;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio-group {
  display: flex;
  gap: 10px;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.custom-file-input {
  display: none;
}

.custom-file-label {
  background-color: #e0e0e0;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  color: black;
  transition: background-color 0.3s ease;
}

.custom-file-label:hover {
  background-color: #d0d0d0;
}

.file-name-label {
  margin-top: 5px;
  font-size: 0.9em;
  color: #555;
}

.custom-text {
  margin-bottom: 20px;
}

.checkbox-container {
  margin-bottom: 10px;
}

.checkbox-label {
  margin-right: 10px;
}

/* Styling for checkboxes and radio buttons */
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]::before,
input[type="radio"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

/* Checked state styles */
input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
  background-color: red;
}

/* Adjustments for radio buttons */
input[type="radio"]::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  opacity: 0; /* Hide by default */
}

/* Checked state styles for radio buttons */
input[type="radio"]:checked::after {
  opacity: 1;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.btn-select {
  background-color: #28a745;
  color: #fff;
}

.btn-select:hover {
  background-color: #218838;
}

.btn-cancel {
  background-color: #dc3545;
  color: #fff;
}

.btn-cancel:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .radio-group {
    flex-direction: column;
  }

  .file-upload-container {
    width: 100%;
  }
}

.radio-boxs4 {
   display: none;
  /* width: fit-content; */
  border-radius: 5.99px;
  background-color: #5b2502;
  height: 355px;
  margin-right: 10px;
  border: 1px solid #fff; /* Adjust the color and width as needed */
  box-shadow: 0 8px 18px rgba(251, 156, 4, 0.685); /* Adjust the shadow as needed */
  overflow-y: auto;
  padding: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: start;
}

h1 {
  font-size: 16px;
  margin-bottom: 10px;
}

h2 {
  font-size: 14px;
  margin: 10px 0;
}

.option-groups {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.option-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radio-option {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.radio-option label {
  margin-left: 5px;
}

.custom-size {
  color: red;
}

.additional-form {
  font-size: 12px;
}

/* Finsh  */

.radio-boxss1 {
    display: none;
  /* width: fit-content; */
  border-radius: 5.99px;
  background-color: #5b2502;
  height: 355px;
  margin-right: 10px;
  border: 1px solid #fff; /* Adjust the color and width as needed */
  box-shadow: 0 8px 18px rgba(251, 156, 4, 0.685); /* Adjust the shadow as needed */
  overflow-y: scroll;
}

/* radio-boxss1  */
.radio-boxss1 .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  /* padding: 50px 0; */
  /* height: 100vh; */
  /* margin: 0; */

  /* background-color: #fff; */
}

.radio-boxss1 .form-containerss {
  /* background-color: #4f2b00; */
  /* padding: 50px 0; */
  border-radius: 10px;
  width: 100%;
  margin-top: 75px;
  max-width: 400px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.form-containerss form {
  display: flex;
  flex-direction: column;
}

.form-containerss .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-containerss.form-group label {
  display: block;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-containerss .form-group input {
  width: 100%;
  padding: 2px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: #b05d36;
  color: #ffffff;
  outline: none;
  box-sizing: border-box;
}

.form-containerss button {
  width: 100%;
  padding: 2px;
  /* background-color: #ffffff; */
  color: #ffffff;
  /* font-weight: bold; */
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  box-sizing: border-box;
}

.form-containerss button:hover {
  background-color: #d86631;
}

/* .radio-boxss2 */

.radio-boxss2 {
  display: none;
  width: 300px;
  height: 40px;
  border-radius: 34.5px;
  background-color: #B05D36;
  color: white;
  position: fixed;
  right: 20px;
  text-align: center;
  opacity: 0;
}
.radio-boxss2 p {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
  position: relative;
  top: 8px;
  left: 5px;
}
.radio-boxss2.show {
  display: block;
  animation: slideUp 1.5s forwards;
}

@keyframes slideUp {
  0% {
    top: 150px;
    opacity: 0;
  }
  50% {
    top: 100px;
    opacity: 1;
  }
  100% {
    top: 50px;
    opacity: 0;
  }
}

.styled-input {
  background-color: #b05d36; /* Example background color */
  margin: 5px 0; /* Example margin */
  padding: 5px; /* Example padding */
  border: 1px solid #ccc; /* Example border */
  border-radius: 4px; /* Example border radius */
  width: 100%; /* Make input fields take full width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.custom-radio,
.custom-checkbox {
  display: block;
  margin: 0px 0; /* Example margin */
  padding: 2px; /* Example padding */
  font-size: 12px; /* Example font size */
}

/* Ensure the checkboxes align properly */
.custom-checkbox input[type="checkbox"] {
  margin-right: 10px; /* Example margin for checkbox */
}

/* logoos */

.radio-boxss3 {
   display: none;
  /* width: fit-content; */
  border-radius: 5.99px;
  background-color: #5b2502;
  height: 355px;
  margin-right: 10px;
  border: 1px solid #fff; /* Adjust the color and width as needed */
  box-shadow: 0 8px 18px rgba(251, 156, 4, 0.685); /* Adjust the shadow as needed */
}

.radio-boxss3 p#heading {
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
  background-color: #b05d36;
  /* padding: 5px 10px; */
  border-radius: 4px;
}

.radio-boxss3 .inputs {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
  height: 100%;
  padding: 20px;
  /* margin: 0; */
  /* background-color: #fff; */
  overflow-y: scroll;

}

.radio-boxss3  .form-containerss {
  /* background-color: #4f2b00; */
  /* padding: 20px; */
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

form .form-group label {
  display: block;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 5px;
}

form .form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #b05d36;
  color: #ffffff;
  box-sizing: border-box;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #b05d36;
  color: #4f2b00;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

form button:hover {
  background-color: #f3f3f3;
}
.radio-boxss4 {
 
  display: none;
  /* width: fit-content; */
  border-radius: 5.99px;
  background-color: #5b2502;
  height: 355px;
  margin-right: 10px;
  border: 1px solid #fff; /* Adjust the color and width as needed */
  box-shadow: 0 8px 18px rgba(251, 156, 4, 0.685); /* Adjust the shadow as needed */
  overflow-y: auto;
  padding: 20px;
}

h1 {
  font-size: 16px;
  margin-bottom: 10px;
}

h2 {
  font-size: 14px;
  margin: 10px 0;
}

.option-groups {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.option-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radio-option {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.radio-option label {
  margin-left: 5px;
}

.custom-size {
  color: red;
}

.additional-form {
  font-size: 12px;
}

/* svg css  */

.cards svg {
  height: 400px;
}


                
.c1 {
  fill: #4a7f1c;
}


.c3 {
  fill: #e6e7e8;
}
.c4 {
  fill: #455442;
}
.c2{
  fill: #ef182e;
}
.c5{
  fill: #4a7e1c;
}



.cls-1 {
  fill: url(#linear-gradient-3);
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8 {
  mix-blend-mode: multiply;
}

.cls-9 {
  filter: url(#luminosity-noclip-11);
}

.cls-10 {
  fill: url(#linear-gradient-31);
}

.cls-10, .cls-11, .cls-12 {
  opacity: .58;
}

.cls-13 {
  fill: url(#linear-gradient-2);
}

.cls-14 {
  mask: url(#mask-10);
}

.cls-15 {
  font-size: 150.7px;
}

.cls-15, .cls-16, .cls-17, .cls-18 {
  font-family: Poppins-Bold, Poppins;
  font-weight: 700;
}

.cls-19 {
  filter: url(#luminosity-noclip-7);
}

.cls-2 {
  fill: url(#linear-gradient-19);
}

.cls-20, .cls-21 {
  stroke: #000;
  stroke-miterlimit: 10;
}

.cls-20, .cls-21, .cls-22 {
  fill: none;
}

.cls-23 {
  font-size: 23.79px;
  letter-spacing: .13em;
}

.cls-23, .cls-24, .cls-25, .cls-26 {
  font-family: Poppins-Regular, Poppins;
}

.cls-3 {
  fill: url(#linear-gradient);
}

.cls-27 {
  filter: url(#luminosity-noclip-13);
}

.cls-28 {
  fill: url(#linear-gradient-15);
}

.cls-16 {
  font-size: 69.35px;
}

.cls-29 {
  filter: url(#luminosity-noclip-5);
}

.cls-30 {
  fill: url(#linear-gradient-18);
}

.cls-31 {
  font-size: 20.16px;
  letter-spacing: .13em;
}

.cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-36, .cls-37, .cls-38 {
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
}

.cls-39 {
  fill: url(#linear-gradient-14);
}

.cls-4 {
  fill: url(#linear-gradient-17);
}

.cls-32 {
  font-size: 7.85px;
  letter-spacing: -.25em;
}

.cls-40 {
  mask: url(#mask-2);
}

.cls-41 {
  fill: url(#linear-gradient-20);
}

.cls-42 {
  fill: url(#linear-gradient-6);
}

.cls-33 {
  font-size: 11.6px;
  letter-spacing: -.25em;
}

.cls-34 {
  font-size: 37.91px;
  letter-spacing: .13em;
}



.cls-35 {
  font-size: 13.63px;
  letter-spacing: .13em;
}



.cls-45 {
  mask: url(#mask-13);
}

.cls-17 {
  font-size: 101.89px;
}

.cls-46 {
  mask: url(#mask-3);
}

.cls-5 {
  fill: url(#linear-gradient-28);
}

.cls-47 {
  fill: url(#linear-gradient-32);
}

.cls-48 {
  fill: url(#linear-gradient-11);
}

.cls-49 {
  filter: url(#luminosity-noclip-15);
}

.cls-50 {
  mask: url(#mask-9);
}

.cls-51 {
  clip-path: url(#clippath-1);
}

.cls-52 {
  fill: url(#linear-gradient-10);
}

.cls-53 {
  mask: url(#mask-12);
}

.cls-24 {
  font-size: 51.7px;
  letter-spacing: .13em;
}

.cls-54 {
  mask: url(#mask-5);
}

.cls-6 {
  fill: url(#linear-gradient-33);
}

.cls-21 {
  stroke-width: .25px;
}

.cls-55 {
  fill: url(#linear-gradient-16);
}

.cls-7 {
  fill: url(#linear-gradient-30);
}

.cls-25 {
  font-size: 34.95px;
  letter-spacing: .13em;
}

.cls-56 {
  filter: url(#luminosity-noclip-9);
}



.cls-58 {
  fill: url(#linear-gradient-21);
}

.cls-59 {
  mask: url(#mask-8);
}

.cls-60 {
  fill: url(#linear-gradient-25);
}

.cls-61 {
  mask: url(#mask-4);
}

.cls-62 {
  fill: url(#linear-gradient-5);
}

.cls-63 {
  clip-path: url(#clippath);
}

.cls-64 {
  mask: url(#mask-15);
}

.cls-65 {
  mask: url(#mask-6);
}

.cls-66 {
  fill: url(#linear-gradient-7);
}



.cls-68 {
  fill: url(#linear-gradient-24);
}

.cls-69 {
  fill: url(#linear-gradient-9);
}

.cls-11 {
  fill: url(#linear-gradient-34);
}

.cls-70 {
  fill: url(#linear-gradient-22);
}

.cls-71 {
  filter: url(#luminosity-noclip);
}

.cls-36 {
  font-size: 5.34px;
  letter-spacing: -.25em;
}



.cls-37 {
  font-size: 21.82px;
  letter-spacing: -.25em;
}

.cls-73 {
  mask: url(#mask-1);
}

.cls-74 {
  mask: url(#mask);
}

.cls-38 {
  font-size: 9.28px;
  letter-spacing: .13em;
}

.cls-26 {
  font-size: 97.19px;
  letter-spacing: .13em;
}

.cls-75 {
  mask: url(#mask-7);
}

.cls-8 {
  fill: url(#linear-gradient-23);
}

.cls-76 {
  fill: url(#linear-gradient-27);
}

.cls-12 {
  fill: url(#linear-gradient-29);
}



.cls-78 {
  mask: url(#mask-14);
}



.cls-80 {
  fill: url(#linear-gradient-4);
}

.cls-18 {
  font-size: 283.31px;
}



.cls-82 {
  mask: url(#mask-11);
}

.cls-83 {
  fill: url(#linear-gradient-8);
}

.cls-84 {
  filter: url(#luminosity-noclip-3);
}

.cls-85 {
  fill: url(#linear-gradient-12);
}

.cls-86 {
  fill: url(#linear-gradient-13);
}

.cls-87 {
  fill: url(#linear-gradient-26);
}

.button-container {
  margin: 20px 0;
}

.pop-up {
  display: none;
  width: 300px;
  height: 40px;
  border-radius: 34.5px;
  background-color: #647E2B;
  color: white;
  position: fixed;
  right: 20px;
  text-align: center;
  opacity: 0;
}

.pop-up.show {
  display: block;
  animation: slideUp 1.5s forwards;
}

@keyframes slideUp {
  0% {
    top: 150px;
    opacity: 0;
  }
  50% {
    top: 100px;
    opacity: 1;
  }
  100% {
    top: 50px;
    opacity: 0;
  }
}

.pop-up p {
  font-size: 18px;
  margin-top: 8px;
}

.btn-disabled {
  background-color: #ddd; /* Light grey background */
  color: #aaa; /* Grey text */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}
